django==1.8.17
celery==5.2.2
django-celery==3.1.17
redis==2.10.6
celery-with-redis==3.0
djangorestframework==3.5.3
paramiko==2.1.1
libvirt-python==5.7.0
#supervisor
#MySQL-python
mysqlclient==1.4.6
DBUtils==1.3
